@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(39, 105, 138);
}
body {
  margin: 15;
  background-color: rgb(224, 237, 248);
}
footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(36, 55, 91);
}
h2 {
  font-family: "Anton", sans-serif;
  color: rgb(239, 160, 231);
}

nav a {
  display: inline-block;
  background-color: rgb(241, 210, 231);
  border: solid 3px;
  border-color: rgb(242, 158, 231);
  color: black;
  padding: 1em;
  border-radius: 8px;
  transition: all ease .5s;
}

nav a:active {
    transform: rotate(5deg);
    background-color: rgb(247, 193, 241);
}
nav a:hover {
  color: white;
  background-color: rgb(245, 186, 238);
}

a.Currentpage {
    background-color: rgb(235, 175, 225);
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: wrap;
  flex-direction: row;
  gap: 0.2em
}

.flex-horizontaal {
  display: flex;
  
}